ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

a {
    display: block;
    color: rgba(0, 0, 0, .6);
    text-align: center;
    font-weight: 500;
    font-family: 'Roboto';
    font-size: 14.5px;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: #ff5252;
}