.main-container {
    display: 'flex';
    height: 85vh;
    flex-direction: column;
}

.main-content-children-wrapper {
    height: auto;
}

.main-topbar-container {
    flex:1,
}

.main-footer-container {
    flex:1,
}