.main-container {
    display: flex;
    flex-direction: column;
    flex:1;
    min-height: 100vh;
    width: 100%;
}
.main-content-children-wrapper {
    height: auto;
    flex:15;
    display: flex;
}

.main-topbar-container {
    display: flex;
    height: 100%;
    flex:1;
}

.main-footer-container {
    height: 100%;
    flex:1
}